.container {
	background: #fff;
	width: 840px;
	height: 500px;
	margin: 0px auto;
	box-shadow: 0px 16px 30px 0px #011;
}
.cell {
	width: 11px;
	height: 11px;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	margin: 0px;
	float: left;
}
.alive {
	background:#FFC30F;
}
.old {
	background:#FF5733;
}